<!DOCTYPE html>
<html>
  <body>
    <p>This is the Home page</p>
      
    {% if logged_in %}
	  <a href="/logout">Logout</a>
	  {% else %}
	  <a href="/login">Login</a>
	  {% endif %}
      
	{% if valid_user == True %}
	  <br><img src="{{url_for('static', filename='guy_thumbs_up.jpg')}}" alt="Guy giving you a thumbs up">
	  
    <h2>{{Admin}}</h2>
      
	<p>
      Logged in = {{admin_secret_data}}<br>
      Failed to Login = {{admin_secret_data2}}
    </p>
        {% endif %}
	 </body>
</html>
